<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://o.qcloud.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://o.qcloud.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://o.qcloud.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://o.qcloud.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://o.qcloud.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://o.qcloud.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://o.qcloud.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://o.qcloud.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://o.qcloud.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://o.qcloud.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://o.qcloud.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://o.qcloud.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://o.qcloud.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://o.qcloud.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://o.qcloud.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-bright3" data-bg-color="bg-bright3">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <div class="container-fluid mb0 bg-bright4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="king-instruction king-instruction-danger ">
                            <h5>提示说明</h5>
                            <p>您可以设置应用运行时的环境变量，在进行测试部署和正式部署操作时会生效</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mb0 bg-bright3">
                <div class="row">
                    <div class="col-md-4">
                        <nav>
                            <div class="king-vertical-nav6  m0 ">
                                <div>
                                    <div class="nav-header">
                                        <span>学生</span>
                                    </div>
                                    <ul class="nav-list">
                                        <li class="active">
                                            <a href="javascript:void(0);" title="个人中心">
                                                <span>个人中心</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" title="成绩查询">
                                                <span>成绩查询</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" title="违纪信息">
                                                <span>违纪信息</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="nav-header">
                                        <span>宿舍</span>
                                    </div>
                                    <ul class="nav-list">
                                        <li class="active">
                                            <a href="" title="水电缴费">
                                                <span>水电缴费</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" title="申报维修">
                                                <span>申报维修</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-8">
                        <form class="form-horizontal">
                            <div class="panel mb0 panel-box bordered">
                                <div class="panel-left panel-item bg-reverse">
                                    <p class="f36">59º</p>
                                    <p class="text-muted">多云</p>
                                </div>
                                <div class="panel-right panel-item bg-success"> <i class="fa fa-cloud text-huge"></i> </div>
                            </div>
                            <!-- 设置面板Start -->
                            <!-- 设置面板End -->
                            <div class="form-group clearfix">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="button" class="king-btn mr10  king-success">提交</button>
                                    <button type="button" class="king-btn king-default ">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid mb0 bg-bright5">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <section>
                                <div class="form-group clearfix">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="bk-horizontal-line"></div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>